includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - tests

    level: 1

    ignoreErrors:

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
